# --- IDEs y Sistemas Operativos ---
.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db

# --- Java / Spring Boot ---
target/
*.class
*.jar
*.war
.mvn/
mvnw
mvnw.cmd
*.log

# --- Frontend / Node.js (Next.js) ---
node_modules/
dist/
.next/
out/
coverage/
.env.local
.env.development.local
.env.test.local
.env.production.local

# --- Docker ---
# Ignoramos los datos de las BD para no subirlos a GitHub
docker/data/